<nav class="navbar navbar-dark bg-dark fixed-top">
  <div class="container-fluid">
    <%= link_to 'SnipSlip', root_path, data: { turbolinks: false }, class: 'navbar-brand' %>

    <%# score %>
    <div>
    </div>

    <%# game session start %>
    <div class="d-flex">
      <% if user_signed_in? %>
        <%= button_to "Start Single Player Game",
            start_single_player_game_sessions_path,
            class: "btn btn-success me-2",
            data: { turbolinks: false },
            method: :post
        %>
      <% else %>
        <%= link_to "Start Single Player Game",
            new_user_session_path,
            class: "btn btn-success me-2",
            data: { turbolinks: false, target: "_blank" }
        %>
      <% end %>
    </div>

    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <%# off canvas  %>
    <div class="offcanvas offcanvas-end text-bg-dark" style="width: 220px;" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <%= link_to 'Add Snippet', new_snippet_path, data: { turbolinks: false }, class: 'nav-link' if user_signed_in? %>
          </li>
          <li class="nav-item">
            <div id="invite-friend"></div>
          </li>
          <li class="nav-item">
            <%= link_to 'Profile', user_profile_path, data: { turbolinks: false }, class: 'nav-link' if user_signed_in? %>
          </li>
          <li>
            <% if user_signed_in? %>
              <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "nav-link" %>
            <% else %>
              <%= link_to "Login", new_user_session_path, class: "nav-link" %>
              <%= link_to "Sign Up", new_user_registration_path, class: "nav-link" %>
            <% end %>
          </li>

          <!-- dropdown -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              More Options
            </a>
            <ul class="dropdown-menu dropdown-menu-dark">
              <li><%= link_to 'Action', '#', class: 'dropdown-item' %></li>
              <li><%= link_to 'Another action', '#', class: 'dropdown-item' %></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><%= link_to 'Something else here', '#', class: 'dropdown-item' %></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
